.header-logo {
    margin: 0;
    padding: 0;
    height: 6rem;
    width: 13.5rem;
    text-indent: -9999px;
}
.header-logo a {
    display: block;
    height: 100%;
    outline: none;
}
.navbar-nav>.nav-item>.sub-menu>.menu-item>.sub-menu {
    top: 0;
    left: 140px;
}
.page-bg {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}