.page-list {
    background: #ffbc3b;
}
.page-list ul {
    overflow: hidden;
}
.page-list ul li {
    float: left;
    padding: 5px 10px;
}
.page-list ul li a {
    color: #fff;
}
.page-list ul li:hover {
    background: #fff;
}
.page-list ul li:hover a {
    color: #ffbc3b;
}
.page-list ul li.active {
    background: #fff;
}
.page-list ul li.active a {
    color: #ffbc3b;
}